extend layout
block content
	h1 #{title}
	p. 
		WTF----WTF
	p.
		WTF_WTF_WTF_WTF

block sidebar
	.block
		h1 Right Sidebar
		p.
			-----WTF-----
		br
		.readmore
			a(href="http://google.com") Read More