doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/css/style.css')
	body
		header
			.container
				h1 Node.js Demo Site
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			.container
				p Copyright &copy; 2015